NODE_ENV=development
PORT=3000
CORS_ORIGINS=http://localhost:5173,http://localhost:3000
UPLOADS_DIR=./uploads

MAX_BOT_TOKEN=
MAX_INIT_DATA_MAX_AGE=3600

DB_HOST=localhost
DB_PORT=3306
DB_NAME=maxhackathon
DB_USER=max_hackathon
DB_PASSWORD=

API_BIND_PORT=3003
